# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ira_municipal
POSTGRES_USER=ira_user
POSTGRES_PASSWORD=your_password_here

# Mapbox
MAPBOX_TOKEN=your_mapbox_token_here

# NOAA ONI
NOAA_ONI_URL=https://www.cpc.ncep.noaa.gov/data/indices/oni.ascii.txt

# IDEAM DHIME
IDEAM_DHIME_URL=http://dhime.ideam.gov.co/atencionciudadano/

# datos.gov.co SODA
SODA_BASE_URL=https://www.datos.gov.co/resource
SODA_TIMEOUT=30
SODA_PAGE_SIZE=50000

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
